
/*--------------------MY STYLE SHEETS---------------*/
/*#0B0C10 - BODY - black
#1F2833 - SECTION - semi black
#C5C6C7 - SMALL FONTS - semi white/grey
#66FCF1 - BIG FONTS - bright greenblue
#45A29E - NAV MENUS - dark greenblue*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #ccc;
}

html {
  scroll-behavior: smooth;
}

.jumbotron {
	background-color: transparent;
	background: url(../images/landing/bg-landing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 0;
}

#jumbotron-landing {
	background-color: #141414;
	margin: 0 auto;
}

#landing-button {
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

#landing-button:hover {
	color: #141414;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

.c-boldpt {
	color: #5bc0de;
	font-size: 3rem;
	font-family: 'Open Sans', sans-serif;
}

.c-hello {
	font-size: 4rem;
	color: #5bc0de;
	font-family: 'Open Sans', sans-serif;
}

.c-name {
	color: #5bc0de;
}

.c-ntext {
	color: #e6e6e6;
	font-family: 'Open Sans', sans-serif;
	font-size: 3rem;
}

.btn-land {
	color: #e6e6e6;
	border-color: #e6e6e6;
}

.btn-land:hover {
	color: #e6e6e6 !important;
}

.btn-land  i {
	transition: transform 1s;
}

.btn-land:hover i{
	transform: rotate(90deg);
}

/*----------------------END OF LANDING PAGE------------------------------*/


/*----------------NAVBAR------------------*/
body {
	background: #fff;
}

.navbar {
	background-color: #0B0C10;
}

.logo {
	height: 50px;
	width: 50px;
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.newtoggler {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.color-hover, .brand-color {
	color: #e6e6e6;
	font-family: 'Montserrat', sans-serif;
	font-size: larger;
}
.color-hover:hover {
	color: #5bc0de;
}

.brand-color:hover {
	color: #5bc0de;
}

a.color-hover:focus {
	color: #b30000;
}

.nav-item {
	margin-right: 2px;
}

button span {
	color: #fff;
}

/*----------------END OF NAVBAR------------------*/

/*----------------ABOUT------------------*/

#about {
	padding-top: 66px;
}

hr {
	height: 0px;
	width: 8%;
	border: none;
	border-top: 2px solid #333;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.card {
	width: 20rem;
}

.card-text {
	color: #1a1a1a;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: large;
}

.c-aboutext {
	color: #5bc0de;
	font-family: 'Montserrat', sans-serif;
}

.progress {
	height: 2rem;
}

.progress-bar{
	width: 100%;
}

.skill-head {
	font-size: 1rem;
	font-weight: 700; 
	/*color: #262626;*/
	color: #cecece;
}

.prog_bg1{
	background-color: #013644;
}

.prog_bg2{
	background-color: #8f1a1d;
}

.prog_bg3{
	background-color: #d3623a;
}

.prog_bg4{
	background-color: #fba92e;
}

.prog_bg5{
	background-color: #008a93;
}

/*----------------END OF ABOUT------------------*/

/*---------------PROJECTS----------------*/
#projects {
	padding-top: 66px;
}

.img-capstone {
	height: 250px;
	width: 500px;
}
/*---------------END OF PROJECTS----------*/

/*----------------ETC-----------*/

.text-headd {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.5rem;
}

/*----------------CONTACT------------------*/

.fab, .fa-phone, .fa-envelope {
	font-size: 3rem;
	color: #1a1a1a;
}

.cont-round {
	height: 100%;
	width: 100%;
	border: 2px solid #333;/
	margin-left: 15%;
}

.anc-tomid {
	margin-top: 20%;
}

.contacttitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	margin-top: 10%;
}

.bot-ctitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.5rem;
}

.cont-round:hover {
	color: #fff;
	background: #333;
}

.cont-round:hover .fa-facebook-square{
	color: #3b5998;
}

.cont-round:hover .fa-envelope{
	color: #c71610;
}

.cont-round:hover .fa-phone{
	color: #075e54;
}

.cont-round:hover .fa-linkedin{
	color: #0077B5;
}

.cont-round:hover .fa-github{
	color: #6cc644;
}

.cont-round:hover .fa-youtube{
	color: #ff0000;
}

.active {
	color: #b30000;
}
/*--------------END OF CONTACT-----------*/


/*----------------FOOTER------------------*/

.bg-foot {
	background: #0B0C10;
	color: #e6e6e6;
	font-family: 'Montserrat', sans-serif;
	font-size: larger;
	letter-spacing: 3px;
}

/*----------------ANIMATE FLIP------------------*/

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
}


/*logossss -------------------*/

#logo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.logo-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-holder {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-holder,
.logo-holder2,
.logo-holder3,
.logo-holder4{
	height: 100px;
	width: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px;
}

/*---------------------DESKTOP-----------------------*/

@media only screen and (min-width: 961px) {
	
	.measure-cont {
		margin-left: 1.388888916%;
		margin-right: 1.388888916%;
	}

}

/*---------------------Tablet---------------------*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
	#projects {
		padding-top: 66px;
	}

	.color-hover {
		text-align: center;
	}

	.move-vcp {
		margin-left: 38%;
		margin-top: 5%;
	}

	.text-headd {
		font-size: 1.5rem;
	}

}

/*----------------Mobile-------------------*/
@media only screen and (max-width: 401px) {

	.text-headd {
		font-size: 1.5rem;
	}
	
	.jumbotron {
		padding-top: 10vh;
	}

	.c-hello {
		font-size: 3rem;
		color: #5bc0de;
		font-family: 'Open Sans', sans-serif;
	}

	.c-ntext {
		color: #e6e6e6;
		font-family: 'Open Sans', sans-serif;
		font-size: 3rem;
	}

	.color-hover {
		text-align: center;
	}

	.move-vcp {
		margin-left: 25%;
		margin-top: 5%;
	}

	.mg-tp {
		margin-top: 5%;
	}

	.c-boldpt {
		color: #5bc0de;
		font-size: 2rem;
		font-family: 'Open Sans', sans-serif;
	}

	.c-hello {
		font-size: 3rem;
		color: #5bc0de;
		font-family: 'Open Sans', sans-serif;
	}

	.flex-container{
		flex-direction: column;
	}
}

@media only screen and (width: 320px){

	.text-headd {
		font-size: 1rem;
	}

	.card-img-top,
	.card-body{
		width: 90%;
	}

}