
/*--------------------MY STYLE SHEETS---------------*/
/*#0B0C10 - BODY - black
#1F2833 - SECTION - semi black
#C5C6C7 - SMALL FONTS - semi white/grey
#66FCF1 - BIG FONTS - bright greenblue
#45A29E - NAV MENUS - dark greenblue*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jumbotron {
	background-color: transparent;
	background: url(../images/landing/bg-landing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 0;
}

#jumbotron-landing {
	background-color: #141414;
	margin: 0 auto;
}

#landing-button {
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

#landing-button:hover {
	color: #141414;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

.c-boldpt {
	color: #5bc0de;
	font-size: 3rem;
	font-family: 'Open Sans', sans-serif;
}

.c-hello {
	font-size: 4rem;
	color: #5bc0de;
	font-family: 'Open Sans', sans-serif;
}

.c-name {
	color: #5bc0de;
}

.c-ntext {
	color: #e6e6e6;
	font-family: 'Open Sans', sans-serif;
	font-size: 3rem;
}

.btn-land {
	color: #e6e6e6;
	border-color: #e6e6e6;
}

.btn-land:hover {
	color: #e6e6e6 !important;
}

.btn-land  i {
	transition: transform 1s;
}

.btn-land:hover i{
	transform: rotate(90deg);
}

/*----------------------END OF LANDING PAGE------------------------------*/


/*----------------NAVBAR------------------*/
body {
	background: #fff;
}

.navbar {
	background-color: #0B0C10;
	color: #C5C6C7;
	font-family: 'Open Sans', sans-serif;
	font-size: larger;
}

.logo {
	height: 50px;
	width: 50px;
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.newtoggler {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.color-hover, .brand-color {
	color: #e6e6e6;
}
.color-hover:hover {
	color: #2ca7ff;
}

.brand-color:hover {
	color: #2ca7ff;
}

.nav-item {
	margin-right: 2px;
}

button span {
	color: #fff;
}

/*----------------END OF NAVBAR------------------*/

/*----------------ABOUT------------------*/
.cont-hayt {
	height: 100vh;
	padding-top: 66px;
}

hr {
	height: 0px;
	width: 8%;
	border: none;
	border-top: 2px solid #333;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.card {
	width: 20rem;
}

.card-text {
	color: #1a1a1a;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: large;
}

.c-aboutext {
	color: #5bc0de;
}

.progress {
	height: 2rem;
}

.skill-head {
	font-size: 1rem;
	font-weight: 700; 
	color: #262626;
}

/*----------------END OF ABOUT------------------*/

/*---------------PROJECTS----------------*/



/*---------------END OF PROJECTS----------*/


/*----------------ETC------------------*/
.see-title {
  display: block;
  height: 66px; 
  margin-top: -66px; 
  visibility: hidden;
}

.text-mons {
	color: #C5C6C7;
	font-family: 'Montserrat', sans-serif;
}

/*----------------PORTFOLIO------------------*/
.img-edit {
	border: 1px solid #fff;
	border-radius: 30px;
}

.img-edit:hover {
	opacity: 0.7;
}

/*----------------CONTACT------------------*/
.cont-left {
	border-right: 2px solid #66FCF1;
}

.pline {
	line-height: 10px;
	text-decoration-line: underline;
    text-decoration-style: solid;
}

.btn-icon {
	color: #fff;
	font-size: 50px;
	margin-left: 5px;
}

.fb:hover {
	color: #3B5998;
}

.google:hover {
	color: #dd4b39;
}

.linkin:hover {
	color: #000000;
}

.git:hover {
	color: #c9510c;
}

/*----------------FOOTER------------------*/
#footer-container {
	background-color: #0B0C10;
	font-family: 'Open Sans', sans-serif;
	font-size: larger;
}

.copy-kip {
	color: #C5C6C7;
	font-size: small;
}

/*----------------ANIMATE------------------*/


/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
	.cont-hayt {
	height: 100vh;
	/*padding-top: 242px;*/
	}
}

/*Mobile*/
@media only screen and (max-width: 401px) {
	.cont-hayt {
	height: 100vh;
	/*padding-top: 242px;*/
	}

}